{% extends 'booking/base.html' %}
{% block title %}
    History
{% endblock %}
{% block content %}
    <h1 class="p-4 text-center"><span class="badge badge-pill badge-light p-3">History</span></h1>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success">
                    <strong>{{ message }}</strong>
                </div>
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger">
                    <strong>{{ message }}</strong>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <hr>
    <h3 class="my-4"><span class="badge badge-pill badge-info p-3">Queue</span></h3>
    <table class="table f">
        <thead class="black white-text">
        <tr>
            <td style="font-size: 1.25em">เริ่ม</td>
            <td style="font-size: 1.25em">ถึง</td>
            <td style="font-size: 1.25em">ชื่อร้าน</td>
            <td style="font-size: 1.25em">สถานะ</td>
            <td style="font-size: 1.25em">ยกเลิก</td>
        </tr>
        </thead>

        {% for q in queues %}
            <tr>
                <td style="font-size: 1.25em">{{ q.start_queue }}</td>
                <td style="font-size: 1.25em">{{ q.end_queue }}</td>
                <td style="font-size: 1.25em">{{ q.barbershop.shopname }}</td>
                <td>
                    {% if q.status == '01' %}
                        <span class="badge badge-light" style="font-size: 1.25em">รอคิว</span>
                    {% elif q.status == '02' %}
                        <span class="badge badge-warning f"
                              style="font-size: 1.25em">กำลังตัด</span>
                    {% endif %}
                </td>
                <td>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ q.id }}" name="qid">
                        <input type="submit" value="ยกเลิก" class="btn btn-danger"
                               style="font-size: 0.7em;border-radius: 10em">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    {#    </div>#}
    <hr>
    <h3 class="my-4"><span class="badge badge-pill badge-secondary p-3">Queue history</span></h3>

    {#    <div class="table-responsive-md d-none d-xs-none d-lg-none d-sm-none d-md-block">#}
    <table class="table f">
        <thead class="black white-text">
        <tr>
            <td style="font-size: 1.25em">เริ่ม</td>
            <td style="font-size: 1.25em">ถึง</td>
            <td style="font-size: 1.25em">ชื่อร้าน</td>
            <td style="font-size: 1.25em">สถานะ</td>
        </tr>
        </thead>
        {% for q in queues_history %}
            <tr>
                <td style="font-size: 1.25em;opacity: 0.4;">{{ q.start_queue }}</td>
                <td style="font-size: 1.25em;opacity: 0.4;">{{ q.end_queue }}</td>
                <td style="font-size: 1.25em;opacity: 0.4;">{{ q.barbershop.shopname }}</td>
                <td>

                    {% if q.status == '03' %}
                        <a href="{% url 'review' q.barbershop.id q.id %}" class="btn btn-light f" ,
                           style="font-size: 1em;border-radius: 10em">รีวิว</a>
                    {% elif q.status == '04' %}
                        <span class="badge badge-danger f "
                              style="font-size: 1.25em;opacity: 0.4;">ล้มเลว</span>
                    {% elif q.status == '05' %}
                        <span class="badge badge-success "
                              style="font-size: 1.25em;opacity: 0.4;">สำเร็จ</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {#    </div>#}
{% endblock %}