{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}
    <h1>DashBoard</h1>
    <hr>
    {% if success %}
        <div class="alert alert-success">
            {{ success }}
        </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="text-left">
        {% csrf_token %}
        {{ blogform|crispy }}
        <input type="submit" value="post" class="btn btn-primary w-100">
    </form>
{% endblock %}