{% extends 'core/base.html' %}
{% block title %}
    feed
{% endblock %}

{% block content %}
    <h1>Feed Page</h1>
    {% for feed in feeds %}
        {% if feed.picture %}
            <img src="{{ feed.picture.url }}" width="200" height="200" alt="">
        {% endif %}
        <h1>Blog : {{ feed.header }}</h1>
        <p>Blog : {{ feed.content }}</p>
        <h4>Create by : <a href="{% url 'detail' feed.BarberShop.id%}" style="color: black">{{ feed.BarberShop.shopname }}</a></h4>
        <h4>Create at : {{ feed.create_date }}</h4>
        <h4>Delete at : {{ feed.expired_date }}</h4>
    {% endfor %}
{% endblock %}