{% extends 'core/base.html' %}
{% load static %}
{% block title %}
    index
{% endblock %}
{% block content %}
    <br>
    {#    {% if BarberShop_rec %}#}
    {#        {% for shop in BarberShop_rec %}#}
    {#            <p>BarberShopFilter</p>#}
    {#            {% if shop.pic %}#}
    {#                <img src="{{ shop.pic.url }}" alt="" width="200" height="200">#}
    {#            {% else %}#}
    {#                <img src="{% static 'images/shop_pic/default.jpg' %}" alt="" width="200" height="200">#}
    {#            {% endif %}#}
    {#            <p>Name : {{ shop.shopname }}</p>#}
    {#            <p>Address : {{ shop.address }}</p>#}
    {#            <p>Description : {{ shop.description }}</p>#}
    {#            <p>Style : {{ shop.style }}</p>#}
    {#            <a href="{% url 'detail' shop.id %}">detail</a>#}
    {#        {% endfor %}#}
    {#    {% else %}#}
    {#        {% for shop in BarberShop %}#}
    {#            <p>BarberShop</p>#}
    {#            {% if shop.pic %}#}
    {#                <img src="{{ shop.pic.url }}" alt="" width="200" height="200">#}
    {#            {% else %}#}
    {#                <img src="{% static 'images/shop_pic/default.jpg' %}" alt="" width="200" height="200">#}
    {#            {% endif %}#}
    {#            <p>Name : {{ shop.shopname }}</p>#}
    {#            <p>Address : {{ shop.address }}</p>#}
    {#            <p>Description : {{ shop.description }}</p>#}
    {#            <p>Style : {{ shop.style }}</p>#}
    {#            <a href="{% url 'detail' shop.id %}">detail</a>#}
    {#        {% endfor %}#}
    {#    {% endif %}#}

    <div class="container text-center mt-3">
        <div class="row content">
            <!-- Filter -->
            <div class="col-sm-3">
                <!--Card-->
                <div class="card card-cascade narrower mb-4" style="margin-top: 28px">

                    <!--Card image-->
                    <div class="view view-cascade">
                        <img src="{% static 'images/search.jpg' %}"
                             class="card-img-top"
                             alt="">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body card-body-cascade">
                            <div class="form-inline md-form mr-auto mb-3">
                                <input class="form-control mr-sm-2" type="text" placeholder="ค้นหา" aria-label="Search" name="search">
                                <small class="f">ชื่อร้าน, ที่อยู่ของร้าน</small>
                            </div>
                            <div class="md-form">
                                <input type="text" id="inputMDEx" class="form-control" name="style">
                                <label for="inputMDEx" class="f">ทรงผมที่ชอบ</label>
                            </div>
                            <br>
                            <input class="btn btn-elegant btn-rounded btn-sm my-0 mb-3" type="submit" value="search">
                            <div class="text-center mt-2">
                                <p><span class="badge badge-pill badge-light">Filter by yourself</span></p>
                            </div>
                            <div class="text-left">
                                <label class="card-text f">คะแนน</label>
                                <!-- Default unchecked -->
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="defaultUnchecked5" name="rate" value="0">
                                    <label class="custom-control-label" for="defaultUnchecked5">
                                        No rating</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="defaultUnchecked" name="rate" value="1">
                                    <label class="custom-control-label" for="defaultUnchecked">
                                        <i class="fas fa-star fa-xs"></i></label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="defaultUnchecked1" name="rate" value="2">
                                    <label class="custom-control-label" for="defaultUnchecked1">
                                        <i class="fas fa-star fa-xs"></i><i class="fas fa-star fa-xs"></i></label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="defaultUnchecked2" name="rate" value="3">
                                    <label class="custom-control-label" for="defaultUnchecked2"><i
                                            class="fas fa-star fa-xs"></i><i
                                            class="fas fa-star fa-xs"></i><i class="fas fa-star fa-xs"></i></label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="defaultUnchecked3" name="rate" value="4">
                                    <label class="custom-control-label" for="defaultUnchecked3"><i
                                            class="fas fa-star fa-xs"></i><i
                                            class="fas fa-star fa-xs"></i><i class="fas fa-star fa-xs"></i><i
                                            class="fas fa-star fa-xs"></i></label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="defaultUnchecked4" name="rate" value="5">
                                    <label class="custom-control-label" for="defaultUnchecked4"><i
                                            class="fas fa-star fa-xs"></i><i
                                            class="fas fa-star fa-xs"></i><i class="fas fa-star fa-xs"></i><i
                                            class="fas fa-star fa-xs "></i><i
                                            class="fas fa-star fa-xs"></i></label>
                                </div>
                            </div>
                            <br>
                        </div>
                        <!--/.Card content-->
                    </form>

                </div>
                <!--/.Card-->
            </div>
            <!-- Filter  -->
            <div class="col-sm-9">
                {% for shop in BarberShop %}
                    <!-- Shop -->
                    <div class="row jumbotron p-3 mx-1 shop">

                        <div class="col-sm-4 col-md-4 col-9 text-center mx-auto d-block">
                            <div class="view overlay">
                                {% if shop.pic %}
                                    <img src="{{ shop.pic.url }}" alt="" class="img w-100" height="250px">
                                {% else %}
                                    <img src="{% static 'images/shop_pic/default.jpg' %}" alt="" class="img w-100"
                                         height="250px">
                                {% endif %}
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-5 text-md-left">
                            {% if style in shop.style %}
                                <a href="#!" class="red-text">
                                    <h6 class="h6"><i class="fas fa-star pr-1"></i> Recommend</h6>
                                </a>
                            {% endif %}
                            <h4 class=" h4 mb-4"><i class="fas fa-store pr-1 blue-text"></i>{{ shop.shopname }}</h4>
                            <h5><span class="badge badge-pill badge-light" style="font-size: 0.75em">คำอธิบายร้าน</span>
                            </h5>
                            <p class="font-weight-normal ml-2 p-1">{{ shop.description }}</p>
                            <h5><span class="badge badge-pill badge-light"
                                      style="font-size: 0.75em">ที่อยู่ของร้าน</span></h5>
                            <p class="font-weight-normal ml-2 p-1">{{ shop.address }}</p>
                            <h5><span class="badge badge-pill badge-light" style="font-size: 0.75em">เบอร์โทร</span>
                            </h5>
                            <p class="font-weight-normal ml-2 p-1">{{ shop.tel }}</p>
                            <h5><span class="badge badge-pill badge-light"
                                      style="font-size: 0.75em">ทรงผมยอดนิยม : </span></h5>
                            <p class="font-weight-normal ml-2 p-1">{{ shop.style }}</p>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-7 col-sm-7 text-sm-center col-9  ml-md-0 mb-md-0 text-center">
                                    <p class="font-weight-bold mb-sm-4 font-sp">Rating
                                    </p>
                                </div>
                                <div class="rating-box col-md-4 col-sm-8 py-2 mx-auto" style="border:solid white">{% if shop.get_review_score.avg_rating%}{{ shop.get_review_score.avg_rating }}{% else %}-{% endif %}
                                </div>
                            </div>
                            <p class="" style="font-size:12px">{{ shop.get_review_count.amount_review }} comments in ths shop</p>
                            <a href="{% url 'detail' shop.id %}" class="btn btn-primary mx-auto btn-lg d-lg-block d-none d-md-none" style="border-radius: 10em">detail</a>
                            <a href="{% url 'detail' shop.id %}" class="btn-sm btn-primary mx-auto d-lg-none d-block d-md-block" style="border-radius: 10em">detail</a>
                        </div>
                    </div>
                    <!-- Shop -->
                {% endfor %}
                <!-- List of Shop -->
            </div>
        </div>
    </div>
{% endblock %}