{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Change password
{% endblock %}
{% block content %}
    <h2 class="text-center my-4">Change password</h2>
    <hr>
    <br>
    <div class="card border-dark">
        <div class="card-body p-5">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="update" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock %}