{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Login
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
    <h1 class="p-4 text-center"><span class="badge badge-pill badge-info">Login</span></h1>
    <hr>
    <br>
    {% if error %}
        <div class="alert alert-danger">
            <strong>{{ error }}</strong>
        </div>
    {% endif %}
    {% if messages.error %}
        {% for message in messages.error %}
            <div class="alert alert-danger">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <div class="p-3">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <small class="float-right my-3"><a href="{% url 'choose' %}" style="color: black">Did you register ?</a>
            </small>
            <input type="submit" value="sign in" class="btn btn-primary w-100">

        </form>
    </div>
{% endblock %}