{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Register
{% endblock %}
{% block content %}
    <h1 class="p-4 text-center"><span class="badge badge-pill badge-light">Register</span></h1>
    <hr>
    <br>
    <div class="card border-dark">
        <div class="card-body p-5">
            <form action="" method="POST" enctype="multipart/form-data" class="f">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="sign up" class="btn btn-primary w-100">
            </form>
        </div>
    </div>
{% endblock %}