{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Update profile
{% endblock %}
{% block content %}
    <h1 class="p-4 text-center"><span class="badge badge-pill badge-light">Update profile</span></h1>
    <hr>
    {% if success %}
        <div class="alert alert-success">
            {{ success }}
        </div>
    {% endif %}
    <br>
    <div class="card border-dark">
        <div class="card-body p-5">
            <form action="" method="POST" class="f">
                {% csrf_token %}
                {{ form|crispy }}
                <a href="{% url 'changepass' %}" class="btn btn-info">change password</a>
                <input type="submit" value="update" class='btn btn-primary'>
            </form>
        </div>
    </div>
{% endblock %}